:root {
  /* Colors */
  --tx_slate-50: 248 250 252;
  --tx_slate-100: 241 245 249;
  --tx_slate-200: 226 232 240;
  --tx_slate-300: 203 213 225;
  --tx_slate-400: 148 163 184;
  --tx_slate-500: 100 116 139;
  --tx_slate-600: 71 85 105;
  --tx_slate-700: 51 65 85;
  --tx_slate-800: 30 41 59;
  --tx_slate-900: 15 23 42;
  --tx_slate-950: 2 6 23;
  --tx_gray-50: 249 250 251;
  --tx_gray-100: 243 244 246;
  --tx_gray-200: 229 231 235;
  --tx_gray-300: 209 213 219;
  --tx_gray-400: 156 163 175;
  --tx_gray-500: 107 114 128;
  --tx_gray-600: 75 85 99;
  --tx_gray-700: 55 65 81;
  --tx_gray-800: 31 41 55;
  --tx_gray-900: 17 24 39;
  --tx_gray-950: 3 7 18;
  --tx_zinc-50: 250 250 250;
  --tx_zinc-100: 244 244 245;
  --tx_zinc-200: 228 228 231;
  --tx_zinc-300: 212 212 216;
  --tx_zinc-400: 161 161 170;
  --tx_zinc-500: 113 113 122;
  --tx_zinc-600: 82 82 91;
  --tx_zinc-700: 63 63 70;
  --tx_zinc-800: 39 39 42;
  --tx_zinc-900: 24 24 27;
  --tx_zinc-950: 9 9 11;
  --tx_neutral-50: 250 250 250;
  --tx_neutral-100: 245 245 245;
  --tx_neutral-200: 229 229 229;
  --tx_neutral-300: 212 212 212;
  --tx_neutral-400: 163 163 163;
  --tx_neutral-500: 115 115 115;
  --tx_neutral-600: 82 82 82;
  --tx_neutral-700: 64 64 64;
  --tx_neutral-800: 38 38 38;
  --tx_neutral-900: 23 23 23;
  --tx_neutral-950: 10 10 10;
  --tx_stone-50: 250 250 249;
  --tx_stone-100: 245 245 244;
  --tx_stone-200: 231 229 228;
  --tx_stone-300: 214 211 209;
  --tx_stone-400: 168 162 158;
  --tx_stone-500: 120 113 108;
  --tx_stone-600: 87 83 78;
  --tx_stone-700: 68 64 60;
  --tx_stone-800: 41 37 36;
  --tx_stone-900: 28 25 23;
  --tx_stone-950: 12 10 9;
  --tx_red-50: 254 242 242;
  --tx_red-100: 254 226 226;
  --tx_red-200: 254 202 202;
  --tx_red-300: 252 165 165;
  --tx_red-400: 248 113 113;
  --tx_red-500: 239 68 68;
  --tx_red-600: 220 38 38;
  --tx_red-700: 185 28 28;
  --tx_red-800: 153 27 27;
  --tx_red-900: 127 29 29;
  --tx_red-950: 69 10 10;
  --tx_orange-50: 255 247 237;
  --tx_orange-100: 255 237 213;
  --tx_orange-200: 254 215 170;
  --tx_orange-300: 253 186 116;
  --tx_orange-400: 251 146 60;
  --tx_orange-500: 249 115 22;
  --tx_orange-600: 234 88 12;
  --tx_orange-700: 194 65 12;
  --tx_orange-800: 154 52 18;
  --tx_orange-900: 124 45 18;
  --tx_orange-950: 67 20 7;
  --tx_amber-50: 255 251 235;
  --tx_amber-100: 254 243 199;
  --tx_amber-200: 253 230 138;
  --tx_amber-300: 252 211 77;
  --tx_amber-400: 251 191 36;
  --tx_amber-500: 245 158 11;
  --tx_amber-600: 217 119 6;
  --tx_amber-700: 180 83 9;
  --tx_amber-800: 146 64 14;
  --tx_amber-900: 120 53 15;
  --tx_amber-950: 69 26 3;
  --tx_yellow-50: 254 252 232;
  --tx_yellow-100: 254 249 195;
  --tx_yellow-200: 254 240 138;
  --tx_yellow-300: 253 224 71;
  --tx_yellow-400: 250 204 21;
  --tx_yellow-500: 234 179 8;
  --tx_yellow-600: 202 138 4;
  --tx_yellow-700: 161 98 7;
  --tx_yellow-800: 133 77 14;
  --tx_yellow-900: 113 63 18;
  --tx_yellow-950: 66 32 6;
  --tx_lime-50: 247 254 231;
  --tx_lime-100: 236 252 203;
  --tx_lime-200: 217 249 157;
  --tx_lime-300: 190 242 100;
  --tx_lime-400: 163 230 53;
  --tx_lime-500: 132 204 22;
  --tx_lime-600: 101 163 13;
  --tx_lime-700: 77 124 15;
  --tx_lime-800: 63 98 18;
  --tx_lime-900: 54 83 20;
  --tx_lime-950: 26 46 5;
  --tx_green-50: 240 253 244;
  --tx_green-100: 220 252 231;
  --tx_green-200: 187 247 208;
  --tx_green-300: 134 239 172;
  --tx_green-400: 74 222 128;
  --tx_green-500: 34 197 94;
  --tx_green-600: 22 163 74;
  --tx_green-700: 21 128 61;
  --tx_green-800: 22 101 52;
  --tx_green-900: 20 83 45;
  --tx_green-950: 5 46 22;
  --tx_emerald-50: 236 253 245;
  --tx_emerald-100: 209 250 229;
  --tx_emerald-200: 167 243 208;
  --tx_emerald-300: 110 231 183;
  --tx_emerald-400: 52 211 153;
  --tx_emerald-500: 16 185 129;
  --tx_emerald-600: 5 150 105;
  --tx_emerald-700: 4 120 87;
  --tx_emerald-800: 6 95 70;
  --tx_emerald-900: 6 78 59;
  --tx_emerald-950: 2 44 34;
  --tx_teal-50: 240 253 250;
  --tx_teal-100: 204 251 241;
  --tx_teal-200: 153 246 228;
  --tx_teal-300: 94 234 212;
  --tx_teal-400: 45 212 191;
  --tx_teal-500: 20 184 166;
  --tx_teal-600: 13 148 136;
  --tx_teal-700: 15 118 110;
  --tx_teal-800: 17 94 89;
  --tx_teal-900: 19 78 74;
  --tx_teal-950: 4 47 46;
  --tx_cyan-50: 236 254 255;
  --tx_cyan-100: 207 250 254;
  --tx_cyan-200: 165 243 252;
  --tx_cyan-300: 103 232 249;
  --tx_cyan-400: 34 211 238;
  --tx_cyan-500: 6 182 212;
  --tx_cyan-600: 8 145 178;
  --tx_cyan-700: 14 116 144;
  --tx_cyan-800: 21 94 117;
  --tx_cyan-900: 22 78 99;
  --tx_cyan-950: 8 51 68;
  --tx_sky-50: 240 249 255;
  --tx_sky-100: 224 242 254;
  --tx_sky-200: 186 230 253;
  --tx_sky-300: 125 211 252;
  --tx_sky-400: 56 189 248;
  --tx_sky-500: 14 165 233;
  --tx_sky-600: 2 132 199;
  --tx_sky-700: 3 105 161;
  --tx_sky-800: 7 89 133;
  --tx_sky-900: 12 74 110;
  --tx_sky-950: 8 47 73;
  --tx_blue-50: 239 246 255;
  --tx_blue-100: 219 234 254;
  --tx_blue-200: 191 219 254;
  --tx_blue-300: 147 197 253;
  --tx_blue-400: 96 165 250;
  --tx_blue-500: 59 130 246;
  --tx_blue-600: 37 99 235;
  --tx_blue-700: 29 78 216;
  --tx_blue-800: 30 64 175;
  --tx_blue-900: 30 58 138;
  --tx_blue-950: 23 37 84;
  --tx_indigo-50: 238 242 255;
  --tx_indigo-100: 224 231 255;
  --tx_indigo-200: 199 210 254;
  --tx_indigo-300: 165 180 252;
  --tx_indigo-400: 129 140 248;
  --tx_indigo-500: 99 102 241;
  --tx_indigo-600: 79 70 229;
  --tx_indigo-700: 67 56 202;
  --tx_indigo-800: 55 48 163;
  --tx_indigo-900: 49 46 129;
  --tx_indigo-950: 30 27 75;
  --tx_violet-50: 245 243 255;
  --tx_violet-100: 237 233 254;
  --tx_violet-200: 221 214 254;
  --tx_violet-300: 196 181 253;
  --tx_violet-400: 167 139 250;
  --tx_violet-500: 139 92 246;
  --tx_violet-600: 124 58 237;
  --tx_violet-700: 109 40 217;
  --tx_violet-800: 91 33 182;
  --tx_violet-900: 76 29 149;
  --tx_violet-950: 46 16 101;
  --tx_purple-50: 250 245 255;
  --tx_purple-100: 243 232 255;
  --tx_purple-200: 233 213 255;
  --tx_purple-300: 216 180 254;
  --tx_purple-400: 192 132 252;
  --tx_purple-500: 168 85 247;
  --tx_purple-600: 147 51 234;
  --tx_purple-700: 126 34 206;
  --tx_purple-800: 107 33 168;
  --tx_purple-900: 88 28 135;
  --tx_purple-950: 59 7 100;
  --tx_fuchsia-50: 253 244 255;
  --tx_fuchsia-100: 250 232 255;
  --tx_fuchsia-200: 245 208 254;
  --tx_fuchsia-300: 240 171 252;
  --tx_fuchsia-400: 232 121 249;
  --tx_fuchsia-500: 217 70 239;
  --tx_fuchsia-600: 192 38 211;
  --tx_fuchsia-700: 162 28 175;
  --tx_fuchsia-800: 134 25 143;
  --tx_fuchsia-900: 112 26 117;
  --tx_fuchsia-950: 74 4 78;
  --tx_pink-50: 253 242 248;
  --tx_pink-100: 252 231 243;
  --tx_pink-200: 251 207 232;
  --tx_pink-300: 249 168 212;
  --tx_pink-400: 244 114 182;
  --tx_pink-500: 236 72 153;
  --tx_pink-600: 219 39 119;
  --tx_pink-700: 190 24 93;
  --tx_pink-800: 157 23 77;
  --tx_pink-900: 131 24 67;
  --tx_pink-950: 80 7 36;
  --tx_rose-50: 255 241 242;
  --tx_rose-100: 255 228 230;
  --tx_rose-200: 254 205 211;
  --tx_rose-300: 253 164 175;
  --tx_rose-400: 251 113 133;
  --tx_rose-500: 244 63 94;
  --tx_rose-600: 225 29 72;
  --tx_rose-700: 190 18 60;
  --tx_rose-800: 159 18 57;
  --tx_rose-900: 136 19 55;
  --tx_rose-950: 76 5 25;
  --tx_primary-100: 249 255 242;
  --tx_primary-200: 232 255 203;
  --tx_primary-300: 219 254 164;
  --tx_primary-400: 209 251 123;
  --tx_primary-500: 204 246 84;
  --tx_primary-600: 162 193 43;
  --tx_primary-700: 124 142 23;
  --tx_primary-800: 83 90 13;
  --tx_primary-900: 37 38 5;
  --tx_accent-100: 249 242 255;
  --tx_accent-200: 222 196 255;
  --tx_accent-300: 190 150 254;
  --tx_accent-400: 151 103 251;
  --tx_accent-500: 107 56 245;
  --tx_accent-600: 58 22 193;
  --tx_accent-700: 28 8 142;
  --tx_accent-800: 11 3 90;
  --tx_accent-900: 2 1 38;
  --slate-50: rgb(248 250 252 / var(--opacity, 1));
  --slate-100: rgb(241 245 249 / var(--opacity, 1));
  --slate-200: rgb(226 232 240 / var(--opacity, 1));
  --slate-300: rgb(203 213 225 / var(--opacity, 1));
  --slate-400: rgb(148 163 184 / var(--opacity, 1));
  --slate-500: rgb(100 116 139 / var(--opacity, 1));
  --slate-600: rgb(71 85 105 / var(--opacity, 1));
  --slate-700: rgb(51 65 85 / var(--opacity, 1));
  --slate-800: rgb(30 41 59 / var(--opacity, 1));
  --slate-900: rgb(15 23 42 / var(--opacity, 1));
  --slate-950: rgb(2 6 23 / var(--opacity, 1));
  --gray-50: rgb(249 250 251 / var(--opacity, 1));
  --gray-100: rgb(243 244 246 / var(--opacity, 1));
  --gray-200: rgb(229 231 235 / var(--opacity, 1));
  --gray-300: rgb(209 213 219 / var(--opacity, 1));
  --gray-400: rgb(156 163 175 / var(--opacity, 1));
  --gray-500: rgb(107 114 128 / var(--opacity, 1));
  --gray-600: rgb(75 85 99 / var(--opacity, 1));
  --gray-700: rgb(55 65 81 / var(--opacity, 1));
  --gray-800: rgb(31 41 55 / var(--opacity, 1));
  --gray-900: rgb(17 24 39 / var(--opacity, 1));
  --gray-950: rgb(3 7 18 / var(--opacity, 1));
  --zinc-50: rgb(250 250 250 / var(--opacity, 1));
  --zinc-100: rgb(244 244 245 / var(--opacity, 1));
  --zinc-200: rgb(228 228 231 / var(--opacity, 1));
  --zinc-300: rgb(212 212 216 / var(--opacity, 1));
  --zinc-400: rgb(161 161 170 / var(--opacity, 1));
  --zinc-500: rgb(113 113 122 / var(--opacity, 1));
  --zinc-600: rgb(82 82 91 / var(--opacity, 1));
  --zinc-700: rgb(63 63 70 / var(--opacity, 1));
  --zinc-800: rgb(39 39 42 / var(--opacity, 1));
  --zinc-900: rgb(24 24 27 / var(--opacity, 1));
  --zinc-950: rgb(9 9 11 / var(--opacity, 1));
  --neutral-50: rgb(250 250 250 / var(--opacity, 1));
  --neutral-100: rgb(245 245 245 / var(--opacity, 1));
  --neutral-200: rgb(229 229 229 / var(--opacity, 1));
  --neutral-300: rgb(212 212 212 / var(--opacity, 1));
  --neutral-400: rgb(163 163 163 / var(--opacity, 1));
  --neutral-500: rgb(115 115 115 / var(--opacity, 1));
  --neutral-600: rgb(82 82 82 / var(--opacity, 1));
  --neutral-700: rgb(64 64 64 / var(--opacity, 1));
  --neutral-800: rgb(38 38 38 / var(--opacity, 1));
  --neutral-900: rgb(23 23 23 / var(--opacity, 1));
  --neutral-950: rgb(10 10 10 / var(--opacity, 1));
  --stone-50: rgb(250 250 249 / var(--opacity, 1));
  --stone-100: rgb(245 245 244 / var(--opacity, 1));
  --stone-200: rgb(231 229 228 / var(--opacity, 1));
  --stone-300: rgb(214 211 209 / var(--opacity, 1));
  --stone-400: rgb(168 162 158 / var(--opacity, 1));
  --stone-500: rgb(120 113 108 / var(--opacity, 1));
  --stone-600: rgb(87 83 78 / var(--opacity, 1));
  --stone-700: rgb(68 64 60 / var(--opacity, 1));
  --stone-800: rgb(41 37 36 / var(--opacity, 1));
  --stone-900: rgb(28 25 23 / var(--opacity, 1));
  --stone-950: rgb(12 10 9 / var(--opacity, 1));
  --red-50: rgb(254 242 242 / var(--opacity, 1));
  --red-100: rgb(254 226 226 / var(--opacity, 1));
  --red-200: rgb(254 202 202 / var(--opacity, 1));
  --red-300: rgb(252 165 165 / var(--opacity, 1));
  --red-400: rgb(248 113 113 / var(--opacity, 1));
  --red-500: rgb(239 68 68 / var(--opacity, 1));
  --red-600: rgb(220 38 38 / var(--opacity, 1));
  --red-700: rgb(185 28 28 / var(--opacity, 1));
  --red-800: rgb(153 27 27 / var(--opacity, 1));
  --red-900: rgb(127 29 29 / var(--opacity, 1));
  --red-950: rgb(69 10 10 / var(--opacity, 1));
  --orange-50: rgb(255 247 237 / var(--opacity, 1));
  --orange-100: rgb(255 237 213 / var(--opacity, 1));
  --orange-200: rgb(254 215 170 / var(--opacity, 1));
  --orange-300: rgb(253 186 116 / var(--opacity, 1));
  --orange-400: rgb(251 146 60 / var(--opacity, 1));
  --orange-500: rgb(249 115 22 / var(--opacity, 1));
  --orange-600: rgb(234 88 12 / var(--opacity, 1));
  --orange-700: rgb(194 65 12 / var(--opacity, 1));
  --orange-800: rgb(154 52 18 / var(--opacity, 1));
  --orange-900: rgb(124 45 18 / var(--opacity, 1));
  --orange-950: rgb(67 20 7 / var(--opacity, 1));
  --amber-50: rgb(255 251 235 / var(--opacity, 1));
  --amber-100: rgb(254 243 199 / var(--opacity, 1));
  --amber-200: rgb(253 230 138 / var(--opacity, 1));
  --amber-300: rgb(252 211 77 / var(--opacity, 1));
  --amber-400: rgb(251 191 36 / var(--opacity, 1));
  --amber-500: rgb(245 158 11 / var(--opacity, 1));
  --amber-600: rgb(217 119 6 / var(--opacity, 1));
  --amber-700: rgb(180 83 9 / var(--opacity, 1));
  --amber-800: rgb(146 64 14 / var(--opacity, 1));
  --amber-900: rgb(120 53 15 / var(--opacity, 1));
  --amber-950: rgb(69 26 3 / var(--opacity, 1));
  --yellow-50: rgb(254 252 232 / var(--opacity, 1));
  --yellow-100: rgb(254 249 195 / var(--opacity, 1));
  --yellow-200: rgb(254 240 138 / var(--opacity, 1));
  --yellow-300: rgb(253 224 71 / var(--opacity, 1));
  --yellow-400: rgb(250 204 21 / var(--opacity, 1));
  --yellow-500: rgb(234 179 8 / var(--opacity, 1));
  --yellow-600: rgb(202 138 4 / var(--opacity, 1));
  --yellow-700: rgb(161 98 7 / var(--opacity, 1));
  --yellow-800: rgb(133 77 14 / var(--opacity, 1));
  --yellow-900: rgb(113 63 18 / var(--opacity, 1));
  --yellow-950: rgb(66 32 6 / var(--opacity, 1));
  --lime-50: rgb(247 254 231 / var(--opacity, 1));
  --lime-100: rgb(236 252 203 / var(--opacity, 1));
  --lime-200: rgb(217 249 157 / var(--opacity, 1));
  --lime-300: rgb(190 242 100 / var(--opacity, 1));
  --lime-400: rgb(163 230 53 / var(--opacity, 1));
  --lime-500: rgb(132 204 22 / var(--opacity, 1));
  --lime-600: rgb(101 163 13 / var(--opacity, 1));
  --lime-700: rgb(77 124 15 / var(--opacity, 1));
  --lime-800: rgb(63 98 18 / var(--opacity, 1));
  --lime-900: rgb(54 83 20 / var(--opacity, 1));
  --lime-950: rgb(26 46 5 / var(--opacity, 1));
  --green-50: rgb(240 253 244 / var(--opacity, 1));
  --green-100: rgb(220 252 231 / var(--opacity, 1));
  --green-200: rgb(187 247 208 / var(--opacity, 1));
  --green-300: rgb(134 239 172 / var(--opacity, 1));
  --green-400: rgb(74 222 128 / var(--opacity, 1));
  --green-500: rgb(34 197 94 / var(--opacity, 1));
  --green-600: rgb(22 163 74 / var(--opacity, 1));
  --green-700: rgb(21 128 61 / var(--opacity, 1));
  --green-800: rgb(22 101 52 / var(--opacity, 1));
  --green-900: rgb(20 83 45 / var(--opacity, 1));
  --green-950: rgb(5 46 22 / var(--opacity, 1));
  --emerald-50: rgb(236 253 245 / var(--opacity, 1));
  --emerald-100: rgb(209 250 229 / var(--opacity, 1));
  --emerald-200: rgb(167 243 208 / var(--opacity, 1));
  --emerald-300: rgb(110 231 183 / var(--opacity, 1));
  --emerald-400: rgb(52 211 153 / var(--opacity, 1));
  --emerald-500: rgb(16 185 129 / var(--opacity, 1));
  --emerald-600: rgb(5 150 105 / var(--opacity, 1));
  --emerald-700: rgb(4 120 87 / var(--opacity, 1));
  --emerald-800: rgb(6 95 70 / var(--opacity, 1));
  --emerald-900: rgb(6 78 59 / var(--opacity, 1));
  --emerald-950: rgb(2 44 34 / var(--opacity, 1));
  --teal-50: rgb(240 253 250 / var(--opacity, 1));
  --teal-100: rgb(204 251 241 / var(--opacity, 1));
  --teal-200: rgb(153 246 228 / var(--opacity, 1));
  --teal-300: rgb(94 234 212 / var(--opacity, 1));
  --teal-400: rgb(45 212 191 / var(--opacity, 1));
  --teal-500: rgb(20 184 166 / var(--opacity, 1));
  --teal-600: rgb(13 148 136 / var(--opacity, 1));
  --teal-700: rgb(15 118 110 / var(--opacity, 1));
  --teal-800: rgb(17 94 89 / var(--opacity, 1));
  --teal-900: rgb(19 78 74 / var(--opacity, 1));
  --teal-950: rgb(4 47 46 / var(--opacity, 1));
  --cyan-50: rgb(236 254 255 / var(--opacity, 1));
  --cyan-100: rgb(207 250 254 / var(--opacity, 1));
  --cyan-200: rgb(165 243 252 / var(--opacity, 1));
  --cyan-300: rgb(103 232 249 / var(--opacity, 1));
  --cyan-400: rgb(34 211 238 / var(--opacity, 1));
  --cyan-500: rgb(6 182 212 / var(--opacity, 1));
  --cyan-600: rgb(8 145 178 / var(--opacity, 1));
  --cyan-700: rgb(14 116 144 / var(--opacity, 1));
  --cyan-800: rgb(21 94 117 / var(--opacity, 1));
  --cyan-900: rgb(22 78 99 / var(--opacity, 1));
  --cyan-950: rgb(8 51 68 / var(--opacity, 1));
  --sky-50: rgb(240 249 255 / var(--opacity, 1));
  --sky-100: rgb(224 242 254 / var(--opacity, 1));
  --sky-200: rgb(186 230 253 / var(--opacity, 1));
  --sky-300: rgb(125 211 252 / var(--opacity, 1));
  --sky-400: rgb(56 189 248 / var(--opacity, 1));
  --sky-500: rgb(14 165 233 / var(--opacity, 1));
  --sky-600: rgb(2 132 199 / var(--opacity, 1));
  --sky-700: rgb(3 105 161 / var(--opacity, 1));
  --sky-800: rgb(7 89 133 / var(--opacity, 1));
  --sky-900: rgb(12 74 110 / var(--opacity, 1));
  --sky-950: rgb(8 47 73 / var(--opacity, 1));
  --blue-50: rgb(239 246 255 / var(--opacity, 1));
  --blue-100: rgb(219 234 254 / var(--opacity, 1));
  --blue-200: rgb(191 219 254 / var(--opacity, 1));
  --blue-300: rgb(147 197 253 / var(--opacity, 1));
  --blue-400: rgb(96 165 250 / var(--opacity, 1));
  --blue-500: rgb(59 130 246 / var(--opacity, 1));
  --blue-600: rgb(37 99 235 / var(--opacity, 1));
  --blue-700: rgb(29 78 216 / var(--opacity, 1));
  --blue-800: rgb(30 64 175 / var(--opacity, 1));
  --blue-900: rgb(30 58 138 / var(--opacity, 1));
  --blue-950: rgb(23 37 84 / var(--opacity, 1));
  --indigo-50: rgb(238 242 255 / var(--opacity, 1));
  --indigo-100: rgb(224 231 255 / var(--opacity, 1));
  --indigo-200: rgb(199 210 254 / var(--opacity, 1));
  --indigo-300: rgb(165 180 252 / var(--opacity, 1));
  --indigo-400: rgb(129 140 248 / var(--opacity, 1));
  --indigo-500: rgb(99 102 241 / var(--opacity, 1));
  --indigo-600: rgb(79 70 229 / var(--opacity, 1));
  --indigo-700: rgb(67 56 202 / var(--opacity, 1));
  --indigo-800: rgb(55 48 163 / var(--opacity, 1));
  --indigo-900: rgb(49 46 129 / var(--opacity, 1));
  --indigo-950: rgb(30 27 75 / var(--opacity, 1));
  --violet-50: rgb(245 243 255 / var(--opacity, 1));
  --violet-100: rgb(237 233 254 / var(--opacity, 1));
  --violet-200: rgb(221 214 254 / var(--opacity, 1));
  --violet-300: rgb(196 181 253 / var(--opacity, 1));
  --violet-400: rgb(167 139 250 / var(--opacity, 1));
  --violet-500: rgb(139 92 246 / var(--opacity, 1));
  --violet-600: rgb(124 58 237 / var(--opacity, 1));
  --violet-700: rgb(109 40 217 / var(--opacity, 1));
  --violet-800: rgb(91 33 182 / var(--opacity, 1));
  --violet-900: rgb(76 29 149 / var(--opacity, 1));
  --violet-950: rgb(46 16 101 / var(--opacity, 1));
  --purple-50: rgb(250 245 255 / var(--opacity, 1));
  --purple-100: rgb(243 232 255 / var(--opacity, 1));
  --purple-200: rgb(233 213 255 / var(--opacity, 1));
  --purple-300: rgb(216 180 254 / var(--opacity, 1));
  --purple-400: rgb(192 132 252 / var(--opacity, 1));
  --purple-500: rgb(168 85 247 / var(--opacity, 1));
  --purple-600: rgb(147 51 234 / var(--opacity, 1));
  --purple-700: rgb(126 34 206 / var(--opacity, 1));
  --purple-800: rgb(107 33 168 / var(--opacity, 1));
  --purple-900: rgb(88 28 135 / var(--opacity, 1));
  --purple-950: rgb(59 7 100 / var(--opacity, 1));
  --fuchsia-50: rgb(253 244 255 / var(--opacity, 1));
  --fuchsia-100: rgb(250 232 255 / var(--opacity, 1));
  --fuchsia-200: rgb(245 208 254 / var(--opacity, 1));
  --fuchsia-300: rgb(240 171 252 / var(--opacity, 1));
  --fuchsia-400: rgb(232 121 249 / var(--opacity, 1));
  --fuchsia-500: rgb(217 70 239 / var(--opacity, 1));
  --fuchsia-600: rgb(192 38 211 / var(--opacity, 1));
  --fuchsia-700: rgb(162 28 175 / var(--opacity, 1));
  --fuchsia-800: rgb(134 25 143 / var(--opacity, 1));
  --fuchsia-900: rgb(112 26 117 / var(--opacity, 1));
  --fuchsia-950: rgb(74 4 78 / var(--opacity, 1));
  --pink-50: rgb(253 242 248 / var(--opacity, 1));
  --pink-100: rgb(252 231 243 / var(--opacity, 1));
  --pink-200: rgb(251 207 232 / var(--opacity, 1));
  --pink-300: rgb(249 168 212 / var(--opacity, 1));
  --pink-400: rgb(244 114 182 / var(--opacity, 1));
  --pink-500: rgb(236 72 153 / var(--opacity, 1));
  --pink-600: rgb(219 39 119 / var(--opacity, 1));
  --pink-700: rgb(190 24 93 / var(--opacity, 1));
  --pink-800: rgb(157 23 77 / var(--opacity, 1));
  --pink-900: rgb(131 24 67 / var(--opacity, 1));
  --pink-950: rgb(80 7 36 / var(--opacity, 1));
  --rose-50: rgb(255 241 242 / var(--opacity, 1));
  --rose-100: rgb(255 228 230 / var(--opacity, 1));
  --rose-200: rgb(254 205 211 / var(--opacity, 1));
  --rose-300: rgb(253 164 175 / var(--opacity, 1));
  --rose-400: rgb(251 113 133 / var(--opacity, 1));
  --rose-500: rgb(244 63 94 / var(--opacity, 1));
  --rose-600: rgb(225 29 72 / var(--opacity, 1));
  --rose-700: rgb(190 18 60 / var(--opacity, 1));
  --rose-800: rgb(159 18 57 / var(--opacity, 1));
  --rose-900: rgb(136 19 55 / var(--opacity, 1));
  --rose-950: rgb(76 5 25 / var(--opacity, 1));
  --primary-100: rgb(249 255 242 / var(--opacity, 1));
  --primary-200: rgb(232 255 203 / var(--opacity, 1));
  --primary-300: rgb(219 254 164 / var(--opacity, 1));
  --primary-400: rgb(209 251 123 / var(--opacity, 1));
  --primary-500: rgb(204 246 84 / var(--opacity, 1));
  --primary-600: rgb(162 193 43 / var(--opacity, 1));
  --primary-700: rgb(124 142 23 / var(--opacity, 1));
  --primary-800: rgb(83 90 13 / var(--opacity, 1));
  --primary-900: rgb(37 38 5 / var(--opacity, 1));
  --accent-100: rgb(249 242 255 / var(--opacity, 1));
  --accent-200: rgb(222 196 255 / var(--opacity, 1));
  --accent-300: rgb(190 150 254 / var(--opacity, 1));
  --accent-400: rgb(151 103 251 / var(--opacity, 1));
  --accent-500: rgb(107 56 245 / var(--opacity, 1));
  --accent-600: rgb(58 22 193 / var(--opacity, 1));
  --accent-700: rgb(28 8 142 / var(--opacity, 1));
  --accent-800: rgb(11 3 90 / var(--opacity, 1));
  --accent-900: rgb(2 1 38 / var(--opacity, 1));
}
